@{
    ViewBag.Title = "Gossip";
}

<h2>@ViewBag.Title</h2>

<p>Join an event by browsing to <code>/<strong>anything-you-like</strong></code></p>

<p>Manage that event at <code>/<strong>anything-you-like</strong>/host</code></p>

