<!doctype html>
<html>
    <head>
        <title>@ViewBag.Title</title>
    </head>
    <body>
        @RenderBody()
        <script src="~/js"></script>
        <script src="~/signalr/hubs"></script>
        @RenderSection("scripts", false)
    </body>
</html>
